:root {
  --img_sprite : url(../../images/sprites/img_sprite.png);
  --small_sprite :url(../../images/sprites/small_sprite.png);
  --alllink :url(../../images/sprites/alllink.png);
  --account : url(../../images/profile/account.png);
  --tickets : url(../../images/tickets/tickets.png);
}
