<div class="modal">
  <div class="modal__body">
    <svg class="modal__close" (click)="onModalCloseClick()" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16"><path class="modal__close__path"  d="M.27.27a.93.93 0 0 1 1.32 0L8 6.7 14.41.3a.93.93 0 0 1 1.32 1.32L9.32 8l6.4 6.4a.93.93 0 1 1-1.31 1.32L8 9.33 1.6 15.7a.93.93 0 0 1-1.3-1.3L6.69 8 .26 1.59a.93.93 0 0 1 0-1.32Z"></path></svg>
    <div class="modal__content">
      <div class="booking">
        <div id="booking" class="booking">
          <div class="booking__screen"></div>
          <table *ngIf="hall && tickets && places" class="booking__hall">
            <tr *ngFor="let row of getArrayWithSize(hall.rows)"
                class="booking__row">
              <th class="booking__block">{{row}}</th>

              <td *ngFor="let seat of getArrayWithSize(hall.seats)"
                  class="booking__block"
                  [class.booking__seat]="getPlace(row, seat)"
                  [class.booking__seat_vip]="isVip(row, seat)"
                  [class.booking__seat_occupied]="isOccupied(row, seat)"
                  (click)="selectSeat($event, row, seat)"></td>
            </tr>
            <tr class="booking__row">
              <th class="booking__block"></th>
              <td *ngFor="let seat of getArrayWithSize(hall.seats)" class="booking__block">
                {{seat}}
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal-background"></div>
