<main class="content">
  <div class="content__body">
    <div class="content__header">
      <h1 class="content__title content__title_3em-3and5em content__icon content__icon_contacts">CONTACTS</h1>
    </div>
    <div class="contacts">
      <h1 class="contacts__title">UNIKINO CINEMA CENTER</h1>
      <div class="contacts__address">St. Petersburg, Karavannaya str., 12.</div>
      <div class="contacts__email">famouse_ru@mail.ru</div>
      <div class="map">

      </div>
    </div>
  </div>
</main>
