@import "src/assets/scss/variables";
@import "src/assets/scss/tools";
@import "src/assets/scss/content";

$cell-size: 23px 13px;

$palette-schedule-title: $x-color-gray-nickel;
$palette-schedule-background: $x-color-wild-sand;
$palette-schedule-border: $x-color-mercury;

.schedule {

}

.hall {
  // .hall__title
  &__title {
    font-family: $font-family-secondary;
    font-size: $title-font-size;
    color: $palette-schedule-title;
    text-transform:uppercase;
    margin-bottom: 0.15em;
  }

  // .hall__header
  &__header {
    width: 100%;
    border-collapse: collapse;
    border:1px solid $palette-schedule-border;
    border-top: 0 none;
    border-bottom: 0 none;
    text-align: left;
    table-layout: fixed;
  }

  // .hall__content
  &__content {
    background: $palette-schedule-background;
    // .hall__content__item
    &__item {
      font-weight: 400;
      color: #6bb5ab;
      padding: $cell-size;

      &:last-child {
        text-align: center;
      }

      // HIDE AGE LIMIT //
      &:nth-child(4) {
        display: none;
      }

      @include breakpoint(sm) {
        &:nth-child(4) {
          display: inline-block;
        }
      }
    }
  }

  // .hall__seances
  &__seances {
  }
}
