<main class="content">
  <div class="content__body">
    <div class="content__header">
      <h1 class="content__title content__title_3em-4em content__icon content__icon_schedule">SCHEDULE</h1>
    </div>
    <div class="schedule">
      <section *ngFor="let hall of halls"
               class="hall">
        <h3 class="hall__title">{{hall.name}}</h3>
        <table class="hall__header">
          <tr class="hall__content">
            <th class="hall__content__item">SEANCE</th>
            <th class="hall__content__item">FILM</th>
            <th class="hall__content__item">GENRE</th>
            <th class="hall__content__item">AGE</th>
            <th class="hall__content__item">PRICE</th>
          </tr>
        </table>
        <div class="hall__seances">
          <div *ngFor="let seance of hall.seances" class="seance">
            <app-schedule-seance [seance]="seance"></app-schedule-seance>
          </div>
        </div>
      </section>
    </div>
  </div>
</main>
