<main class="content">
  <div class="content__body">
    <div class="content__header">
      <h1 class="content__title content__title_3em-3and5em content__icon content__icon_soon">SOON</h1>
    </div>
    <div class="soon">
      <div class="soon__films">
        <div *ngFor="let movie of movies" class="soon__item">
          <div class="soon__item--poster">
            <a href="#" class="soon__item--link">
              <img src="{{movie.poster ?? './assets/images/films/no-poster.jpg'}}" alt="soon-image" class="soon__item--image">
            </a>
            <div class="soon__item--desc">
              <div class="soon__item--premiere-date">{{getDayMothInString(movie.date)}}</div>
              <div class="soon__item--age-limit">{{movie.ageLimit}}+</div>
            </div>
          </div>
          <div class="soon__item--title">
            <div class="soon__item--english-title">{{movie.title}}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
